.track-container {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.track-container span {
  width: 100px;
  display: inline-block;
}

.muted {
  opacity: 0.5;
  text-decoration: line-through;
}
